<%= form_with model: @tweet, local: true do |f| %>
<%# render 'shared/error_messages', model: f.object %>
<%# 上記のrenderメソッドは後のエラーメッセージ表示のため残しておく。 %>
  <div class="img-upload">
    <div class="weight-bold-text">
      投稿画像
    </div>
    <div class="click-upload">
      <p>
      下のボタンをクリックしてファイルをアップロードして下さい。
      </p>
      <%= f.file_field :photo, id:"item-image" %>
    </div>
  </div>
  <div class="new-photo">
    <div class="weight-bold-text">
      写真のタイトル
    </div>
    <%= f.text_area :title, class:"photo-text", id:"item-name", placeholder:"ここにタイトルを入力してください（必須 40文字まで)", maxlength:"40" %>
    <div class="items-explain">
      <div class="weight-bold-text">
        投稿写真の説明
      </div>
      <%= f.text_area :description, class:"photo-text", id:"item-info", placeholder:"ここに写真の説明を入力してください（必須 1,000文字まで入力できます）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class='weight-bold-text'>
      <label class="form-text">撮影された都道府県</label>
    </div>
    <%# 以下、'input-カラム名-wrap'のセレクタは未定義、必要であれば後で作成するので残しておく。 %>
    <div class='input-prefecture-wrap'>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {class:"input-prefecture", id:"prefecture_id"} %>
    </div>
    <div class="weight-bold-text">
      市町村名
    </div>
    <%= f.text_area :city, class:"photo-text", id:"item-name", placeholder:"ここに写真の市区町村名を入力してください（必須 20文字まで)", maxlength:"20" %>
  </div>
  <div class="sell-btn-contents">
    <%= f.submit "投稿する", class:"sell-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
<% end %>